 canvas { 
    width: 100%; 
    height: 100%;
}

body{
    background-image: url('../imgs/stars2.jpg');
    background-color: black;
    color: rgb(40, 40, 50);
    font-family: 'Droid Serif';
}
/*css for index.html*/
#mainbox{
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 20px;
    
}

#welcome{
    /*overflow: hidden;*/
    width: 650px;
    height: 100px;
    margin: auto;
    font-size: 30px;
}

.buttons{
    overflow: hidden;
    width: 50px;
    float: left;
}

#login_signup{
    overflow: hidden;
    width: 200px;
    margin: auto;
}

#login{
    margin-right: 80px;
}

a{
    color: rgb(133, 23, 50);
}

/*css for planets.html*/
#navBar{
    width: 100%;
    background-color: rgba(40, 40, 50, .7); 
}






#musicbox{
    /*width: 305px;*/
    background-color: rgba(40, 40, 50, .7);
    color: gray;
    margin: 20px;
    position: absolute;
}

#playbox{
    /*width: 305px;*/
    /*height: 650px;*/
    background-color: rgba(40, 40, 50, .7);
    color: gray;
    margin: 20px;
    position: absolute;
}

#user_music{
    height: 50px;
    font-size: 26px;
    padding-top: 15px;
    padding-left: 15px;
}

#username{
    /*height: 50px;*/
    font-size: 26px;
    padding-top: 15px;
    padding-left: 15px;
}

#username:hover{
    color: rgb(133, 23, 50);
}

#tabs { 
    list-style-type: none; 
    width: 260px;
    margin: 0 0 0 15px; 
    padding: 0 0 0.3em 0; 
}
#tabs li {
    display: inline; 
}
#tabs li a { 
    color: gray; 
    background-color: rgba(40, 40, 50, .5); 
    border: 1px solid #606060; 
    border-bottom: none; 
    padding: 0.3em; 
    text-decoration: none; 
}
#tabs li a:hover { 
    background-color: rgb(133, 23, 50);
}
ul#tabs li a.selected { 
    color: rgb(133, 23, 50); 
    background-color: rgba(40, 40, 50, .5); 
    font-weight: bold; 
    padding: 0.7em 0.3em 0.38em 0.3em; 
}
div.tabContent { 
    width: 260px;
    margin: 0 15px 15px 15px;
    border: 1px solid #606060; 
    padding: 8px; 
    background-color: rgba(40, 40, 50, .5); 
}
div.tabContent.hide { 
    display: none; 
}

p:hover { 
    color: rgb(133, 23, 50);
}


#albumbox{
    width: 260px;
    margin: 0 15px 15px 15px;
    /*border: 1px solid #606060; */
    padding: 8px; 
    /*background-color: rgba(40, 40, 50, .5);*/
}


#songControls{
    padding-left: 15px;
}


#directionButtonBox{
    margin: 20px;
    /*border-width: 1px;
    border-style: solid;
    border-color: gray;*/
    position: absolute;
    right: 10px;
    width: 170px;
    height: 170px;
    background-color: rgba(40, 40, 50, .5);
}

.rows{
    padding-top: 5px;
    width: 100%;
    height: 50px;
}

#bottomRow{
    margin-bottom: 5px;
}

.directionButtons{
    width: 50px;
    height: 50px;
}

#upButton{
    background-image: url('../imgs/up.png');
    margin: auto;
}

#leftButton{
    background-image: url('../imgs/left.png');
    margin-left: 5px;
    float: left;
}

#rightButton{
    background-image: url('../imgs/right.png');
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

#downButton{
    background-image: url('../imgs/down.png');
    margin-left: 5px;
    float: left;
}

#inButton{
    background-image: url('../imgs/in.png');
    margin-left: 32.5px;
    float: left;
}

#outButton{
    background-image: url('../imgs/out.png');
    margin-left: 5px;
    margin-right: 32.5px;
    float: left;
}


/*red
rgb(133, 23, 50);*/




