{% extends 'main.html' %}

    {%block body%}
    <form class="signin" action="{{url_for("authenticate")}}" method='POST'>
        <h2 class="signin-heading">Please sign in</h2>
    
        {% for message in get_flashed_messages() %}
        <p>{{message}}</p>
        {% endfor %}
    
        <input type="text" class="form-control" placeholder="Email" name="email">
        <input type="password" class="form-control" placeholder="Password" name="password">
        Not a user? <a href="{{ url_for("get_registration_info") }}">Register</a> a new account
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
    </form>


    {% endblock %}