
{% extends 'main.html' %}

{%block body%}
    
    <div id="navBar"><a href="/clear">logout</a></div>
    
    <div id="directionButtonbox">
        <div class="rows">
            <div id="upButton" class='directionButtons'></div>
        </div>
        <div id="middleRow" class="rows">
            <div id="leftButton" class='directionButtons'></div>
            <div id="downButton" class='directionButtons'></div>
            <div id="rightButton" class='directionButtons'></div>
        </div>
        <div class="rows">
            <div id="inButton" class='directionButtons'></div>
            <div id="outButton" class='directionButtons'></div>
        </div>

    </div>
    <div id="musicbox">
        <div id="user_music">
        </div>
        <ul id="tabs">
          <li><a href="#albums_tab">Albums</a></li>
          <li><a href="#playlist_tabs">Playlists</a></li>
        </ul>
        <div class="tabContent" id="albums_tab">
            <h2>Albums</h2>
            <div id="album_list">    
            </div>
        </div>
        <div class="tabContent" id="playlist_tabs">
            <h2>Playlists</h2>
            <div id="playlist_list">   
            </div>
        </div>
    </div>

    <div id="playbox">
        <div id="username"></div>
        <div id="songControls">
            <div id="back" class="musicControls"></div>
            <div id="play" class="musicControls"></div>
            <div id="pause" class="musicControls"></div>
            <div id="fwd" class="musicControls"></div>
            
        </div>
        <div id="albumbox"></div>
        
    </div>

    <script src="../static/js/three.min.js"></script>
    <script src="../static/js/jquery-2.0.3.js"></script>
    <script src="../static/js/planets.js"></script>
    <script src="../static/js/user_music.js"></script>

{% endblock %}
