{% extends 'main.html' %}

    {% block body %}
    <div class="top-navBar">
        <div class="top-navs"><a class="nav-buttons" href="/">home</a></div>
        <div class="top-navs"><a class="nav-buttons" href="{{url_for("login")}}">login</a></div>
        <div class="top-navs"><a class="nav-buttons" href="{{url_for("show_planets")}}">demo</a></div>
    </div>
    <div>
        <h1 class="coming-soon">Coming Soon!</h1>
    </div>
    <form class="signin"  action="{{url_for("register_user")}}" method='POST'>
        <h2 class="signin-heading">Register a new account</h2>

        {% for message in get_flashed_messages() %}
        <p>{{message}}</p>
        {% endfor %}
    
        <input type="text" class="form-control" placeholder="Email" name="email">
        <input type="password" class="form-control" placeholder="Password" name="password">
        <input type="password" class="form-control" placeholder="Password" name="password_verify">
    </form>
    {% endblock %}